.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
  padding-top: 1rem;
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  margin: 0 1rem 1rem 1rem;
}

.comment-content {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: justify;
}

@media screen and (max-width: 510px) {
  .profile-img {
    display: none;
  }
}
