.comment {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.profile-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  margin: 0 1rem 1rem 1rem;
}

.comment-content {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: justify;
}
