.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 98vw;

  border-radius: 4px;

  margin: auto auto 2.5rem auto;

  font-size: large;
}

.comments {
  width: 80%;
}
