.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-input {
  color: #3a3936;
  border: none;
  border-bottom: 1px solid #b67b4b;

  width: 60vw;
  height: 20px;
}
.comment-input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.comment-form-button {
  margin: 1rem 0.25rem 1rem auto;
  background-color: #b67b4b;
  border-radius: 2px;
  border: 2px solid #27262499;
  display: inline-block;
  cursor: pointer;
  color: #f4f3f2;
  font-size: 15px;
  font-weight: bold;
  padding: auto;
  text-decoration: none;
  transition: all ease 300ms;
  width: 100px;
  height: 28px;
}

.comment-form-button:hover {
  background-color: #f4f3f2;
  border: 2px solid #b67b4b;
  color: #272624;
  transform: scale(1.1);
}
.comment-form-button:active {
  position: relative;
  top: 1px;
}
