.featured-posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.featured-head {
  margin-top: 5rem;
  padding: 0 5rem 0 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.featured-head h1 {
  margin-top: -2rem;
}
.featured-card {
  box-shadow: 0 3px 10px 3px #b67b4b99;
  margin: 1rem;
  background-color: white;
  border-radius: 4px;
  width: 340px;
  max-height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.featured-card img {
  border-radius: 4px 4px 0 0;
  width: 100%;
  min-height: auto;
  height: inherit;
}
.featured-img-container {
  height: 340px;
  width: inherit;
  background-size: cover;
  border-bottom: solid 1px #00000020;
}
.featured-card h4 {
  margin: 1rem 0 1rem 0;
}

.featured-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 1rem;
}
.post-type {
  text-transform: uppercase;
}
.underline {
  margin-top: -2rem;
  margin-left: 5rem;
}
.arrow {
  width: 50px;
  height: 30px;
  border-radius: 6px;
  margin: 0 0 0 1rem;
}
.arrow:hover {
  background-color: #f4f3f2;
}
@media screen and (max-width: 725px) {
  .featured-head {
    margin-top: 5rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .featured-posts {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .underline {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 594px) {
  .featured-head {
    margin-left: 0.5rem;
    margin-top: 2.5rem;
    padding: 0;
  }

  .featured-posts {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
  }
  .featured-card {
    margin: 0.5rem;
    width: 280px;
  }

  .featured-img-container {
    height: 300px;
  }
  .arrow {
    width: 40px;
    height: 30px;
    border-radius: 6px;
    margin: 0 0 0 0;
  }
}
