.alert-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999999999999999;
  display: flex;
  flex-direction: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #00000050;
}

.alert {
  height: 35%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b67b4b;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 4px;
}
.alert-h1 {
  color: white;
}
.close-btn {
  margin: 1rem 0.25rem 1rem 0.25rem;
  background-color: #f4f3f2;
  border-radius: 2px;
  border: 2px solid #b67b4b99;
  display: inline-block;
  cursor: pointer;
  color: #272624;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
}
.close-btn:hover {
  color: white;
  background-color: #b67b4b;
  border-color: #272624;
}
