@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #272624;
}
h2,
h3,
h4,
h5,
h6,
p {
  color: #3a3936;
}
#root {
  font-family: "Source Sans Pro", sans-serif;
}
